div {
  color: var(--color-primary-dark, #262A1C);
  font-family: monospace;
  font-weight: bold;
  background: var(--color-primary-light, #F7C956);
  border-radius: var(--border-radius, 10px);
  padding: 15px;
  text-align: center;
  margin-bottom: 15px;
}
